/* Estilos generales */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
}

h1 {
  background-color: #7CCF3D;
  color: white;
  margin-bottom: 1.2em;
  margin-top: 0;
  padding: 0.5em;
  text-align: center;
}

button {
  background-color: #7CCF3D;
  border: 1px solid #7CCF3D;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  outline: 0;
  padding: 0.8em;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 2em;
}

li {
  color: green;
  font-weight: 700;
  list-style: none;
}

/* Efecto al botón */
button:hover {
  background-color: #5BA026;
  cursor: pointer;
}

/* Estilos al contenedor general */
.container {
  margin: 0 16px;
}

/* Estilos al contenedor de las respuestas */
.answers {
  margin-top: 1.5em;
}

/* Estilos al contenedor del span donde se muestran las respuestas*/
.answer-container {
  display: flex;
  align-items: center;
  margin: 1em 2em;
}

/* Estilos al span donde se almacenan las respuestas */

.answer-span {
  border: 2px solid #7CCF3D;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
  padding: 0 0.5em;
  text-align: center;
  width: 30px;
  height: 30px;
}
